@model MyMessageApp.Models.MessageViewModel

@{
    ViewBag.Title = "MyCreate";
}

<h2>MyCreate</h2>

@using (Html.BeginForm("MyCreate", "Message"))
{                                                                         
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>MessageViewModel</legend>

        @Html.HiddenFor(model => model.id)

        <div class="editor-label">
            @Html.LabelFor(model => model.messageText)
        </div>
        <div class="editor-field">
            <textarea rows="7" style="max-width:300px" id="messageText" name="messageText"></textarea>
            @Html.ValidationMessageFor(model => model.messageText)
        </div>

        <p>
            <input type="submit" value="Post" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
